<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">

    <title>OTP Verification</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        body {
            background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
        }

        .card {
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(15px);
            border-radius: 20px;
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
        }

        .card:hover {
            transform: scale(1.03);
            transition: 0.3s;
        }
    </style>

</head>

<body class="flex justify-center items-center h-screen text-white">
    <button onclick="toggleDark()"
        class="fixed top-5 right-5 bg-white text-black dark:bg-black dark:text-white px-3 py-1 rounded shadow">

        🌙

    </button>

    <script>
        function toggleDark() {
            document.documentElement.classList.toggle("dark");
            localStorage.setItem("theme",
                document.documentElement.classList.contains("dark") ? "dark" : "light"
            );
        }

        // load saved theme
        if (localStorage.getItem("theme") === "dark") {
            document.documentElement.classList.add("dark");
        }
    </script>

    <div class="card p-10 w-96 text-center">

        <h2 class="text-2xl font-bold mb-6">OTP Verification</h2>

        <p class="mb-4 text-sm text-gray-200">
            Enter the OTP sent to your email
        </p>

        <form action="/verify" method="POST">

            <input type="hidden" name="email" value="{{email}}">

            <input class="w-full p-3 rounded-lg text-black mb-4 text-center text-xl tracking-widest" name="otp"
                placeholder="Enter OTP">

            <button class="bg-blue-500 w-full p-3 rounded-lg hover:bg-blue-700 transition">

                Verify OTP

            </button>

        </form>

        <br>

        <form action="/resend_otp" method="POST">

            <input type="hidden" name="email" value="{{email}}">

            <button class="bg-yellow-500 w-full p-3 rounded-lg hover:bg-yellow-600 transition">

                Resend OTP

            </button>

        </form>

    </div>

</body>

</html>